.header {
  display: flex;
}
.header .close-btn {
  width: 0.9375rem;
  height: 0.9375rem;
  background: transparent;
  border: 0;
}
.header .close-btn img {
  width: 100%;
  height: 100%;
}
.login-content {
  margin-top: 5rem;
}
.login-content form {
  display: flex;
  flex-direction: column;
}
.login-content form .btn1 {
  margin-top: 1.5rem;
}
.login-content form .error {
  margin-top: 1rem;
  text-align: center;
  color: red;
  font-size: 1rem;
}
.find-content {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.find-content a,
.find-content span {
  color: #979797;
}
.footer {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
}
.footer .btn {
  display: flex;
  justify-content: center;
  color: #9a9a9a;
  border: 1px solid #9a9a9a;
  padding: 0.75rem;
  border-radius: 0.3125rem;
}
.footer .btn:not(:first-child) {
  margin-top: 0.5rem;
}
.footer .btn img {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 1rem;
}
.footer .btn span {
  color: #272727;
  font-size: 0.875rem;
  line-height: 1rem;
}
.footer .helper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: #626262;
  font-size: 0.75rem;
}
.footer .helper a {
  color: #7fd3d2;
  margin-left: 0.25rem;
}
a {
  cursor: pointer;
}
