doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/styles/404.css")
        title #{title}
    body 
        div.container
            h1 404 에러. 없는 페이지입니다. 
            a(href='/auth/login')
                h3 로그인 화면으로 가기 
                
