extends layout 

block styles
    link(rel="stylesheet", href="/styles/common.css")
    link(rel="stylesheet", href="/styles/signup-terms.css")
block header
    header.signup-verify
            a.prev-btn(href='/')
                img.prev-btn-image(src="/image/뒤로가기.png", alt="뒤로가기")
            div.signup-title 회원가입
            a.next-btn
block content
    div.welcome
        p 어서오세요
        p 약관동의가 필요해요
    div.agree.agree-all
        div.agree-div
            input.inp-check(type='checkbox' id='inp-check-all')
            label.lab-check.off(for='inp-check-all')
                img.img-check-off(src='/image/체크박스_F.png')
                img.img-check-on(src='/image/체크박스_T.png')
            span 전체동의
    div.agree.agree-container
        div.agree-div
            input.inp-check(type='checkbox' id='inp-check-1')
            label.lab-check.off(for='inp-check-1')
                img.img-check-off(src='/image/체크박스_F.png')
                img.img-check-on(src='/image/체크박스_T.png')
            span 배달의민족 이용약관 동의
            button.spread
                img(src='/image/화살표.png')
        div.agree-div
            input.inp-check(type='checkbox' id='inp-check-2')
            label.lab-check.off(for='inp-check-2')
                img.img-check-off(src='/image/체크박스_F.png')
                img.img-check-on(src='/image/체크박스_T.png')
            span 전자금융거래 이용약관 동의
            button.spread
                img(src='/image/화살표.png')
        div.agree-div
            input.inp-check(type='checkbox' id='inp-check-3')
            label.lab-check.off(for='inp-check-3')
                img.img-check-off(src='/image/체크박스_F.png')
                img.img-check-on(src='/image/체크박스_T.png')
            span 개인정보 수집이용 동의
            button.spread
                img(src='/image/화살표.png')
        div.agree-div
            input.inp-check(type='checkbox' id='inp-check-4')
            label.lab-check.off(for='inp-check-4')
                img.img-check-off(src='/image/체크박스_F.png')
                img.img-check-on(src='/image/체크박스_T.png')
            span 개인정보 제3자 동의 (선택)
            button.spread
                img(src='/image/화살표.png')
        div.agree-div
            input.inp-check(type='checkbox' id='inp-check-5')
            label.lab-check.off(for='inp-check-5')
                img.img-check-off(src='/image/체크박스_F.png')
                img.img-check-on(src='/image/체크박스_T.png')
            span 마케팅 정보 메일, SNS 수신동의 (선택)
            button.spread
                img(src='/image/화살표.png')
    div.age-select
        input.inp-check(type='radio' id='inp-check-a-1' name='age')
        label.lab-age-check.off(for='inp-check-a-1')
            img.img-check-off(src='/image/14세이상_F.png')
            img.img-check-on(src='/image/14세이상_T.png')
        input.inp-check(type='radio' id='inp-check-a-2' name='age')
        label.lab-age-check.off(for='inp-check-a-2')
            img.img-check-off(src='/image/14세미만_F.png')
            img.img-check-on(src='/image/14세미만_T.png')
    div.footer
        button.btn1.disabled 다음으로
    script(src="/scripts/signupTerms.js", type='module')